@import "../../components/styles/mixins.module.scss";


.navigation {
  padding: 12px 16px;
  display: flex;
  column-gap: 24px;
}

.link {
    font-family: $electrolize;
    font-weight: 400;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: $pSize;
    text-decoration: unset; 
    text-shadow: 0px 0px 4px 0px #094EFF;
    transition: .2s ease-in-out;
    &:hover {
        transform: rotate(-2deg) scale(1.1);
        @include m {
            transform: unset;                
        }
    }
    @include m {
        margin-top: unset;
        padding: 10px 0;
        justify-content: center;
    }


    &_active {
        transform: translateY(-100%);   
        color: #56AEFF;
        text-shadow: 0px 0px 10px 0px #000;   
        &:hover {
            transform: translateY(-100%);
        }
    }

    &_disabled {
        pointer-events: none;
        // opacity: .5;
        color: black;
    }
}