@import "./variables.module.scss";

@mixin xs {
    @media (max-width: 450px) {
        @content;
    }
}
@mixin s {
    @media (max-width: 600px) {
        @content;
    }
}
@mixin m {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin l {
    @media (max-width: 1200px) {
        @content;
    }
}
@mixin xl {
    @media (max-width: 1600px) {
        @content;
    }
}

@mixin blueButton {
    background-color: #0082FB;
    text-decoration: unset;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-family: $comissioner;
    font-size: 16px;
    font-weight: 500;
}

@mixin title {
    font-family: $comissioner;
    font-size: 26px;
    text-decoration: underline;
    font-weight: 600;
}