$radius: 15px;
$radiusCircle: 50%;


//fonts
$comissioner: "Comissioner";
$caveat: "Caveat";
$electrolize: "Electrolize";
$fasthand: "Fasthand";


//font sizes
$pSize: Clamp(14px, 3.2vw, 20px);
$titleSize: Clamp(18px, 5vw, 32px);
$handWriteSize: Clamp(16px, 4vw, 26px);


//colors
$pastaBlue: #010146;
$pastaGray: #202020;
$whiteGhost: #f8f8ff;
$greenHaki: #7F947D;
$grayBlue: #8295A4;