@import "../styles/mixins.module.scss";
@import "../styles/variables.module.scss";

.header {
    position: relative;
    background: #dfdfdf;
    // box-shadow: 2px 0px 10px 0px #0082FB inset;    
    padding: 12px 0;


    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: drop-shadow(2px 4px 6px black);
    }
}

.navigation {
    transition: .7s ease-in-out;
    column-gap: 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 20px;
    width: 100%;
    margin-bottom: 4px;

    // @include m {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     flex-direction: column;
    //     max-width: unset;
    //     max-height: 0px;
    //     animation: unset;
    //     margin: unset;
    //     transform: translateY(100%);
    //     background-color: #ffffffbe;
    //     width: Clamp(168px, 50vw, 500px);
    //     padding: 0px;
    //     border-radius: $radius;
    // }


    &__admin {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        height: 100%;
        justify-content: flex-end;
        row-gap: 10px;
    }
   
}



.headerContent {
    display: flex;
    padding: 8px 16px;
    position: relative;

    .imageLogo {
        margin-top: -12px;
        width: 72px;
        height: auto;
    }


}

.navLink {
    font-family: $electrolize;
    font-weight: 400;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: $pSize;
    color: black;
    text-decoration: unset; 
    text-shadow: 0px 0px 4px 0px #094EFF;
    transition: .2s ease-in-out;
    &:hover {
        transform: rotate(-2deg) scale(1.1);
        @include m {
            transform: unset;                
        }
    }
    @include m {
        margin-top: unset;
        padding: 10px 0;
        width: 100%;
        justify-content: center;
    }


    &_active {
        transform: translateY(-100%);   
        color: #56AEFF;
        text-shadow: 0px 0px 10px 0px #000;   
        &:hover {
            transform: translateY(-100%);
        }
    }

    &_disabled {
        pointer-events: none;
        // opacity: .5;
        color: black;
    }
}

@keyframes rollDown {
    100% {
        max-width: 90%;
    }
}


