@import "/components/styles/mixins.module.scss";

.root {
  padding-inline: 16px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px)
}

.submit {
  @include blueButton;
  margin-top: 16px;
}

.formWrapper {
  margin-top: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin-top: 24px;

  .error {
    font-size: 12px;
    font-family: $comissioner;
    font-weight: 400;
    width: 100%;
    margin-top: -4px;
    margin-bottom: 16px;
    color: rgb(255, 87, 87);
    text-align: end;
  }

  label {
    font-size: 16px;
    font-family: $comissioner;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    width: 100%;

    span {
      color: #8b8b8b;
      text-transform: uppercase;
    }

    input {
      color: $pastaGray;
    }
  }

  input {
    padding: 8px 16px;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    width: 70%;
    min-width: 180px;
    font-size: 16px;
    font-family: $comissioner;
    font-weight: 400;
  }
}


.setlist {
  display: flex;
  row-gap: 12px;
  column-gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;

  .set {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: $pastaGray;
    color: $whiteGhost;
    font-family: $comissioner;
    text-decoration: unset;
  }
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 16px;

  .cardInfo {
    padding: 6px;
    border-radius: 12px;
    border: 1px solid #c9c9c9;
    position: relative;
    padding-right: 24px;
    background-color: var(--itemBackground, $grayBlue);

    p {
      font-size: 16px;
      font-family: $comissioner;
    }

    span {
      font-size: 14px;
      font-family: $electrolize;
      color: #3f3f3f;
      text-transform: uppercase;
      margin-right: 12px;
    }
  }
}

.importButton {
  @include blueButton;
  margin-top: 16px;
  align-self: flex-start;
}