@font-face {
    font-family: "Caveat";
    src: url("../fonts/caveat/static/Caveat-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Caveat";
    src: url("../fonts/caveat/static/Caveat-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Caveat";
    src: url("../fonts/caveat/static/Caveat-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Caveat";
    src: url("../fonts/caveat/static/Caveat-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Comissioner";
    src: url("../fonts/commissioner/static/Commissioner-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Comissioner";
    src: url("../fonts/commissioner/static/Commissioner-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Comissioner";
    src: url("../fonts/commissioner/static/Commissioner-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Comissioner";
    src: url("../fonts/commissioner/static/Commissioner-ExtraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Comissioner";
    src: url("../fonts/commissioner/static/Commissioner-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Comissioner";
    src: url("../fonts/commissioner/static/Commissioner-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Comissioner";
    src: url("../fonts/commissioner/static/Commissioner-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Comissioner";
    src: url("../fonts/commissioner/static/Commissioner-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Comissioner";
    src: url("../fonts/commissioner/static/Commissioner-Thin.ttf");
    font-weight: 100;
}


*{
    box-sizing: border-box !important;
    -webkit-tap-highlight-color: transparent;
}

p {
    margin: 0;
}


body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #faf4f0;
}

h1 {
    margin: 0;
}

.content {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 Clamp(8px, 2vw, 20px);
    width: 100%;
}

.main-wrapper {
    min-height: 90vh;
}



