@import "../styles/mixins.module.scss";
@import "../styles/variables.module.scss";

.about {   
    padding: 32px 0;
    overflow: hidden;

    &__title {
        font-family: $comissioner;
        font-weight: 600;
        font-size: $titleSize;
        text-align: center;
        margin-bottom: 16px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include m {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }
    }

    &__description {
        width: 78%;
        font-family: $comissioner;
        font-size: $pSize;
        line-height: 140%;
        @include m {
            width: 100%;
        }
    }

    &__image {
        width: 20%;
        border-radius: $radius;
        overflow: hidden;
        @include m {
            width: 120%;
            max-height: 40vw;
            overflow: hidden;
            display: flex;
            align-items: center;
            border-radius: unset;
        }
        img {
            height: auto;
            width: 100%;
        }
    }

    &__swiperSlide {
        width: auto;
    }
}



