  .remove {
    border-radius: 50%;
    border: rgb(255, 15, 15) 1px solid;
    width: 24px;
    height: 24px;
    background-color: rgb(255, 113, 113);
    position: absolute;
    top: 6px;
    right: 6px;
    color: white;
  }