@import "../styles/mixins.module.scss";
@import "../styles/variables.module.scss";

.admin {


    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: $comissioner;
        font-size: 24px;
        margin: 16px 0;
    }


    &__label {
        font-family: $comissioner;
        font-size: 20px;
        font-weight: 500;
        margin: 24px 0px 12px;
    }


    &__titleEdit {
        border-radius: $radius;
        border: 2px white solid;
        font-family: $comissioner;
        font-size: 14px;
        width: 50%;
        padding: 10px 24px;
        font-weight: 500;
    }

    &__bodyEdit {
        width: 50%;
        min-height: 400px;
        background-color: white;
        padding: 20px;
        border-radius: $radius;
        font-size: 16px;
        font-weight: 500;
        font-family: $comissioner;
    }

    &__submitButton {
        width: 200px;
        height: 56px;
        border-radius: $radius;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        background-color: black;
        color: white;
        font-family: $comissioner;
        line-height: 100%;
        margin-top: 20px;
        border: 0px;
        transition: .3s linear;
        cursor: pointer;
        &:hover {
            background-color: white;
            color: black;
            font-weight: 700;
        }
    }
}