@import "../styles/mixins.module.scss";
@import "../styles/variables.module.scss";

.footer {
    background-color: #111111;
    // padding: 20px 0;
  
    &__copy {
        font-family: $electrolize;
        font-weight: 600;
        color: gray;
        text-align: center;

        span {
            font-family: $comissioner;
            font-weight: 400;
        }
    }

    &__wrapper {
        display: flex;
        align-items: flex-end;
    }

    // &__lamp {

    // }
}