/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./components/mainHeader/header.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__Sr4Uu {
  background-color: #d3d3d3;
}

.header_navigation__C3I31 {
  overflow: hidden;
  max-width: 0;
  transition: 0.7s ease-in-out;
  column-gap: 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 20px;
  width: 100%;
  animation: header_rollDown__uZj8j 3s forwards 2s;
}

@keyframes header_rollDown__uZj8j {
  100% {
    max-width: 90%;
  }
}
.header_imageLogo___CDcP {
  width: 140px;
  height: auto;
  margin-bottom: 15px;
}

.header_headerContent__TNWn1 {
  display: flex;
  padding: 8px 16px;
}

.header_navLink__1r_5M {
  font-family: "Comissioner";
  font-weight: 800;
  white-space: nowrap;
  flex-shrink: 0;
  font-size: 36px;
  color: black;
  text-decoration: unset;
  text-shadow: 0px 0px 10px #1d2583;
  padding: 12px 24px 18px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.header_navLink_active__oTXb6 {
  color: #1d2583;
  text-shadow: 0px 0px 10px transparent;
  background-color: white;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[13].use[5]!./app/main.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Caveat";
  src: url(/_next/static/media/Caveat-Bold.9f4b2255.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Caveat";
  src: url(/_next/static/media/Caveat-Medium.5640d718.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Caveat";
  src: url(/_next/static/media/Caveat-Regular.df8417b6.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Caveat";
  src: url(/_next/static/media/Caveat-SemiBold.6776d75d.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Comissioner";
  src: url(/_next/static/media/Commissioner-Black.077134d3.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Comissioner";
  src: url(/_next/static/media/Commissioner-Bold.9966f383.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Comissioner";
  src: url(/_next/static/media/Commissioner-ExtraBold.41a03609.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Comissioner";
  src: url(/_next/static/media/Commissioner-ExtraLight.2bf9a712.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Comissioner";
  src: url(/_next/static/media/Commissioner-Light.d4eff836.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Comissioner";
  src: url(/_next/static/media/Commissioner-Medium.843885e6.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Comissioner";
  src: url(/_next/static/media/Commissioner-Regular.1ce98439.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Comissioner";
  src: url(/_next/static/media/Commissioner-SemiBold.5e7cb76b.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Comissioner";
  src: url(/_next/static/media/Commissioner-Thin.1ef3265d.ttf);
  font-weight: 100;
}
* {
  box-sizing: border-box !important;
}

p {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #faf4f0;
}

h1 {
  margin: 0;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.main-wrapper {
  min-height: 90vh;
}
