/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./components/aboutMe/about.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.about_about__4tscy {
  background-color: white;
  padding: 32px 0;
  overflow: hidden;
}
.about_about__title__i3nJp {
  font-family: "Comissioner";
  font-weight: 600;
  font-size: clamp(22px, 5vw, 30px);
  text-align: center;
  margin-bottom: 16px;
}
.about_about__content___icg9 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .about_about__content___icg9 {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.about_about__description__u8I6t {
  width: 78%;
  font-family: "Comissioner";
  font-size: clamp(14px, 3.2vw, 20px);
  line-height: 140%;
}
@media (max-width: 1024px) {
  .about_about__description__u8I6t {
    width: 100%;
  }
}
.about_about__image__gOMVl {
  width: 20%;
  border-radius: 15px;
}
@media (max-width: 1024px) {
  .about_about__image__gOMVl {
    width: 110%;
    max-height: 40vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: unset;
  }
}
.about_about__image__gOMVl img {
  height: auto;
  width: 100%;
}
